<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css">
	<title>Fórum!</title>

	{block js-src}
		<script src="https://kit.fontawesome.com/07db3c916b.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.min.js"></script>
		{*Nette ajax*}
		<script src="{$basePath}/js/nette.ajax.js"></script>
		<script src="{$basePath}/js/notify.min.js"></script>
		<script src="{$basePath}/js/live-form-validation.js"></script>
		<script>
            $(function () {
                $.nette.init();
                $('[data-toggle="tooltip"]').tooltip()
                $('.summernote').summernote({
					height: '500px'
				});
            });
		</script>
	{/block}
</head>
<body>

	{include '@menu.latte'}

	{include content}

	{control login}

	{snippet flashes}
		{foreach $flashes as $flash}
			<script>
                $.notify({$flash->message}, {$flash->type});
			</script>
		{/foreach}
	{/snippet}
</body>
</html>