login:
    email: Email
    password: Heslo
    login: Přihlásit
    register: Ještě nemáte účet?

register:
    name: Jméno
    surname: Příjmení
    email: Email
    password: Heslo
    password_again: Heslo znovu
    password_again_rule: "Hesla se musí schodovat!"

profile:
    old_pass: Aktuální heslo
    password: Nové heslo
    password_again: Nové heslo znovu
    password_again_rule: "Hesla se musí schodovat!"
    update_success: "Úspěšně aktualizováno!"
    submt: Uložit
    wrong_password: "Špatné heslo!"
    pass_success: "Úspěšně jste změnili heslo!"

content: "Obsah příspěvku"
submt: Uložit