{form add, class=>"ajax"}
    <div class="form-group">
        {label content/}
        {input content, class=>"form-control summernote"}
    </div>
    <div class="form-group">
        {input submt, class=>"btn btn-primary"}
    </div>
{/form}