{block content}
    <div class="container">
        <h1>{_front.edit_profile}</h1>
        {control profile}

        <h2>{_front.edit_passwords}</h2>
        {control profile:passwords}
    </div>
{/block}