{form password}
    <div class="form-group">
        {label old_password/}
        {input old_password, class=>"form-control"}
    </div>
    <div class="form-group">
        {label password/}
        {input password, class=>"form-control"}
    </div>
    <div class="form-group">
        {label password_again/}
        {input password_again, class=>"form-control"}
    </div>
    <div class="form-group">
        {input submt, class=>"btn btn-primary"}
    </div>
{/form}